In [8]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm
df = pd.read_excel(r"C:\Users\Yamin Hossain\Downloads\crop yeild data sheet - Copy.xlsx")
df

,Rain Fall (mm),Fertilizer,Temperatue,Nitrogen (N),Phosphorus (P),Potassium (K),Yeild (Q/acre)
0,1230,80,28,80,24,20,12.0
1,480,60,36,70,20,18,8.0
2,1250,75,29,78,22,19,11.0
3,450,65,35,70,19,18,9.0
4,1200,80,27,79,22,19,11.0
...,...,...,...,...,...,...,...
94,1250,77,28,78,23,20,9.0
95,425,60,39,65,19,17,6.5
96,1220,79,28,77,23,21,10.5
97,480,65,36,68,21,16,7.0
98,1230,80,28,80,24,20,12.0

In [2]:
df1=df.rename({'Rain Fall (mm)':'RF','Fertilizer':'F','Temperatue':'T','Nitrogen (N)':'N','Phosphorus (P)':'P','Potassium (K)':'K','Yeild (Q/acre)':'Y'},axis=1)
df1

      RF   F   T   N   P   K     Y
0   1230  80  28  80  24  20  12.0
1    480  60  36  70  20  18   8.0
2   1250  75  29  78  22  19  11.0
3    450  65  35  70  19  18   9.0
4   1200  80  27  79  22  19  11.0
..   ...  ..  ..  ..  ..  ..   ...
94  1250  77  28  78  23  20   9.0
95   425  60  39  65  19  17   6.5
96  1220  79  28  77  23  21  10.5
97   480  65  36  68  21  16   7.0
98  1230  80  28  80  24  20  12.0

[99 rows x 7 columns]

Find the R2

In [9]:
model=smf.ols("RF~F+T+N+P+K+Y",data=df1).fit()
model.rsquared,model.rsquared_adj

(0.9532266693886996, 0.9501762347836148)

mean square error (MSE),

In [17]:
from sklearn.linear_model import LinearRegression
model2 = LinearRegression()
model2.fit(df1[['RF']], df1['F'])
f_2 = model2.predict(df1[['RF']])
df1['f_predicted'] = f_2
model3 = LinearRegression()
model3.fit(df1[['RF']], df1['T'])
t_2 = model3.predict(df1[['RF']])
df1['f_predicted'] = f_2
model4 = LinearRegression()
model4.fit(df1[['RF']], df1['N'])
n_2 = model4.predict(df1[['RF']])
df1['n_predicted'] = n_2
model5 = LinearRegression()
model5.fit(df1[['RF']], df1['P'])
p_2 = model5.predict(df1[['RF']])
df1['p_predicted'] = p_2
model6 = LinearRegression()
model6.fit(df1[['RF']], df1['K'])
k_2 = model6.predict(df1[['RF']])
df1['k_predicted'] = k_2
model7 = LinearRegression()
model7.fit(df1[['RF']], df1['Y'])
y_2 = model7.predict(df1[['RF']])
df1['y_predicted'] = y_2
print(df1)

      RF   F   T   N   P   K     Y  y_predicted  f_predicted  n_predicted  \
0   1230  80  28  80  24  20  12.0    10.707255    76.293557    76.295181
1    480  60  36  70  20  18   8.0     7.439091    59.554806    65.331653
2   1250  75  29  78  22  19  11.0    10.794407    76.739923    76.587542
3    450  65  35  70  19  18   9.0     7.308364    58.885256    64.893112
4   1200  80  27  79  22  19  11.0    10.576529    75.624007    75.856640
..   ...  ..  ..  ..  ..  ..   ...          ...          ...          ...
94  1250  77  28  78  23  20   9.0    10.794407    76.739923    76.587542
95   425  60  39  65  19  17   6.5     7.199425    58.327297    64.527661
96  1220  79  28  77  23  21  10.5    10.663680    76.070373    76.149001
97   480  65  36  68  21  16   7.0     7.439091    59.554806    65.331653
98  1230  80  28  80  24  20  12.0    10.707255    76.293557    76.295181

    p_predicted  k_predicted
0     22.572224    19.461119
1     19.729832    16.698417
2     22.648021    19.534791
3     19.616136    16.587909
4     22.458528    19.350611
..          ...          ...
94    22.648021    19.534791
95    19.521390    16.495819
96    22.534326    19.424283
97    19.729832    16.698417
98    22.572224    19.461119

[99 rows x 12 columns]

In [18]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(df1['Y'], df1['y_predicted']) + mean_squared_error(df1['F'], df1['f_predicted']) +mean_squared_error(df1['N'], df1['n_predicted']) + mean_squared_error(df1['P'], df1['p_predicted']) + mean_squared_error(df1['K'], df1['k_predicted'])
print(mse)

34.353611526923984

root mean square error (RMSE)

In [26]:
from math import sqrt
RMSE = sqrt(mse)
print(RMSE)

5.861195400848191

mean absolute error (MAE)

In [21]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(df1['Y'], df1['y_predicted']) + mean_absolute_error(df1['F'], df1['f_predicted']) + mean_absolute_error(df1['N'], df1['n_predicted']) + mean_absolute_error(df1['P'], df1['p_predicted']) + mean_absolute_error(df1['K'], df1['k_predicted'])
print(mae)

8.687693913324974

normalized root mean square error (NRMSE)

In [24]:
dfstd=df.std()
print(dfstd)

Rain Fall (mm)    400.042676
Fertilizer         10.028202
Temperatue          5.426350
Nitrogen (N)        6.677079
Phosphorus (P)      1.951695
Potassium (K)       1.817254
Yeild (Q/acre)      1.965902
dtype: float64

In [32]:
NRMSE = RMSE/dfstd.sum()
print(NRMSE)

0.013697289042609983